<div class="card">
        <div class='thumb'>
            <img src="https://i.ytimg.com/vi/Nt9L1jCKGnE/mqdefault.jpg">
        </div>
        <div class="rsection">
            <h1 class="title">{{title}}</h1>
            <p class="channel">{{channel}}</p>
            <p class="vid_discription">{{dis}}</p>
            <p class="tag"><ion-icon name="eye"></ion-icon>{{views}}</p>
            <p class="tag"><ion-icon name="thumbs-up"></ion-icon>{{likes}}</p>
            <p class="tag"><ion-icon name="thumbs-down"></ion-icon>{{dlikes}}</p>
            <p class="tag"><ion-icon name="chatbubbles"></ion-icon>{{comments}}</p>
        </div>
    <div class="dl">
        <button><ion-icon name="cloud-download"></ion-icon></button> 