<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/confirm.css">

    <title>Confirm Subscription &#124; Anshul Bansal</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>



<body>

    <div class="main-box">
        <img src="static/mail.png" alt="mail">
        <h3>Confirm Subscription!</h3>
        <p class="a">Please check your inbox, we have sent a confirmation email to {{ v_email }}.</p>
        <p class="b">Not recieved mail yet? <a href="/submit">Resend Email</a> or <a href="www.anshulbansal.esy.es">Go back</a></p>
    </div>

</body>


</html>