<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Anshul Bansal &#8226; Coming Soon...</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <meta name="description" content="I am a student in 10th standard expertising programming and web development skills. Take a look at my portfolio. Oh! Sorry, It's not completed yet." />
    <meta name="keywords" content="anshul, bansal, anshul bansal, portfolio, ans, anshulbansal02 , anshulbansal53, anshulbansal53@yahoo.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Anshul Bansal" />
</head>

<body>



    <div class="notif">
        <img src="/static/pic.png">
        <span><p>Looking for me?</p></span>
    </div>

    <h1 class="main-h">
        <span class="intro">I am</span> Coming Soon <span class="animate-dots"> <p id="a">.</p><p id="b">.</p><p id="c">.</p></span>
    </h1>


    <div class="contact">

        <form class="s-form" action="/submit" method="post">
            <p>Let me know who looked up here</p>
            <input type="text" placeholder="What's your name?" name="vname" required>
            <input type="email" placeholder="Email?" name="vemail" required>
            <button type="submit" class="btn-send" value="Submit!">Send<i class="ion-paper-airplane"></i></button>
        </form>



        <div class="social">
            <p>Or get me on</p>
            <div class="links">
                <a href="https://www.facebook.com/anshulbansal53" target="_blank" class="fb"><i class="ion-social-facebook"></i></a>
                <a href="https://www.instagram.com/anshulbansal53/" target="_blank" class="is"><i class="ion-social-instagram"></i></a>
                <a href="https://twitter.com/AnshulBansal53" target="_blank" class="tw"><i class="ion-social-twitter"></i></a>
                <a href="https://www.linkedin.com/profile/view?id=AAIAABuZVEMB0i2D49o9TfFIDATpdxBJMf_gS5Q&trk=nav_responsive_tab_profile_pic" target="_blank" class="in"><i class="ion-social-linkedin"></i></a>
            </div>
        </div>
    </div>

    <footer>
        <p class="copyright">Copyright &copy; Anshul Bansal
            <a href="http://www.anshulbansal.esy.es/"><img src="/static/logo.png"> </a>
        </p>
    </footer>



</body>

</html>